h1 {
    font-size: 36px;
    color: #4CAF50;
    margin-bottom: 20px;
}

ul {
    list-style-type: none; 
}

li {
    font-size: 20px;
    padding: 10px;
    margin: 5px 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #af4294;
    text-align: center;
}
.fizzbuzz{
    color: #ecf01b;
    font-weight: bold;
}
.fizz{
    color: aqua;
    font-weight: bold;
}
.buzz{
    color: #4CAF50;
    font-weight: bold;
}